@font-face {
  font-family: "Creepy";
  src: url("../../Fonts/Creepy.woff") format("woff"),url("../../Fonts//Creepy2.woff2") format("woff2")
}
@font-face {
  font-family: "Lunacy";
  src: url("../../Fonts/Lunacy.woff") format("woff"),url("../../Fonts/Lunacy.woff2") format("woff2")
}

h1 {
    color: #A3CB38;
    text-align: center;
    font-family: Creepy, serif;
    font-weight: normal;
    font-size: 4rem;
    margin-top: 20px;
    
  }
  
  .sub-header {
    font-family: Lunacy, serif;
    padding: 5px;
    color: #C4E538;
    font-size: 2rem;
    font-weight: 800;
    justify-content: center;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    color: rgb(60, 33, 122);
    border-radius: 8px;
    background-color: rgb(184, 184, 184);
    margin-bottom: 8px;
  }
  button:hover {
    color: rgb(239, 237, 245);
    background-color: rgb(60, 33, 122);
    font-weight: 800;
  }
  .bold {
    text-transform: uppercase;
  }